.steam-logo {
  width: 300px; /* 로고 크기 조절 */
  height: auto;
  cursor: pointer; /* 클릭 커서 */
  transition: transform 0.2s; /* 애니메이션 효과 */
}

.steam-logo:hover {
  transform: scale(1.1); /* 호버 시 확대 효과 */
}
